.comment {
  margin: 20px;
  display:flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.caption {
  padding-left: 16px;
}

.commentSidebar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240)
}

.expandButton {
  transform: scale(0.75)
}