.toolbar {
  display: flex;
  justify-content: space-between;
}

.redditLogo {
  display: flex;
  flex: 2;
}

.redditIcon {
  margin-right: 10px;
}

.topCenterButtonsContainer {
  display: flex;
  flex: 2;
  justify-content: center;
}

.newPostButton {
  display: flex;
  margin: 10px !important;
  flex: 1;
}

.communitiesButton {
  display:flex;
  margin: 10px !important;
  flex: 1;
}

.redditTypography {
  margin-right: 10px !important;
}

.signUp {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.accountMenu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.spinner {
  z-index: 1 !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner2 {
  position: fixed !important;
  z-index: 2000 !important;
  margin-left: 48%;
  margin-top: 40vh;
}