.container {
  display: flex;
  justify-content: center;
}

.paper {
  display: flex;
  width: 80%;
  height: 80%;
  margin: 15px;
}

.communities {
  background-color: rgba(240, 240, 240, 255);
  width: 25%;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.messagesContainer {
  overflow-y: scroll;
  max-height: 60vh;
  width: 100%;
}

.listItem {
  border: 1px black !important;
}

.input {
  margin: 15px;
  display: flex;
  align-content: center;
  width: 95%;
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.messageCard {
  margin: 10px;
  display:flex;
  flex-direction: column;
  width: 94%;
  position: ;
}

.textField {
  align-self: flex-end;
}

.button {
  height: 55px !important;
  align-self: flex-end;
  margin-bottom: 10px !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text {
  display: flex;
  flex: 1;
  margin-top: 15px !important;
}