.postsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.container {
  display: flex;
}

.communitiesContainer {
  height: 100%;
  width: 35%; 
  display: flex;
  justify-content: center;
  margin: 10px;
}

.communities {
  width: 100%;
  margin: 20px;
}

.grid {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.noPosts {
  margin-top: 30px !important;
}